.gap-right {
    margin-right: 10px;
}

.gap-left {
    margin-left: 10px;
}

.page-header h1 {
    font-size: 4em
}

.navbar-default {
  background: rgba(245, 245, 245, 0.96);
}

.fotos { }

.fotos > figure {
    display: inline-block;
}

figcaption {
    margin: 3px 0 0 0;
}

figure {
    padding: 5px;
}
